div{
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    color:#EEEEEE;
}
.Introduction{
    background-color: #548CA8;
}
.main-content{
    background-color: #476072;
}
.Contact-Us{
    background-color: #334257;
}
